.App {
	font-family: sans-serif;
	text-align: center;
	padding: 3rem 2rem;
	max-width: 632px;
	margin: 0 auto;
}
.logo {
	display: inline-block;
	width: 272px;
	margin-bottom: 2rem;
}
.isa_info {
	color: #00529b;
	background-color: #bde5f8;
	padding: 1rem;
	margin: 0;
}
.isa_warning {
	color: #9f6000;
	background-color: #feefb3;
	padding: 1rem;
	margin: 0;
}

.isa_error {
	color: #d8000c;
	background-color: #ffd2d2;
	padding: 1rem;
	margin: 0;
}
.slips-list {
	margin-top: 2rem;
	text-align: left;
	list-style: none;
	> li {
		padding: 1rem;
		margin: 0;
		&:nth-child(odd) {
			background-color: rgba(15, 146, 21, 0.568);
		}
		&:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.01);
		}
	}
}
